body{
	font-size: 7rem;
}
#square1,#square4,#square7{
	width: 5rem;
  height: 5rem;
}

#firstRow,#secondRow{
  border-bottom: thick double black;
  width: 22rem;
  margin: 0;
}
#thirdRow{
	width: 22rem;
  margin: 0;
}
ol#firstRow li,ol#secondRow li,ol#thirdRow li {
  display: inline;
}

li#square2,li#square5,li#square8 {
  border-right: thick double red;
  border-left: thick double red;
  padding:1rem;
}

table{
	height: 354px; 
	width:354px;	
	border-collapse:collapse;
	border:1rem solid black;
}

table td,tr{
	border:1rem solid black;
	height: 4rem;
	width: 4rem;
	padding:3rem;
	text-align: center;
}

#outSide{
	background-color: none;
	width:4rem;
}

.top{
	border-top:hidden;
}

.bottom{
	border-bottom:hidden;
}

#s3,#s6,#s9{
	border-right:hidden;
}

#s1,#s4,#s7{
	border-left:hidden;
}

#newGame{
  background-color: darkcyan;
  width: 20rem;
  font-size: 4rem;
  text-align: center;
  border-radius: 2rem;
  margin: 1rem;
  border-style: solid;
  box-shadow: 2px 10px 6px #888888;
}